<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion</title>
</head>
<body>
    {% load static %}
    {% if user.is_authenticated %}
    
    <h1>Bienvenue dans votre Discussion</h1>
    <h4>Bonjour , {{user.username}}</h4><br>

    <h3>{{user_profile.username}}</h3>
    <form action="" method="POST">
        {% csrf_token%}
        {% for m in message%}
        <h3 style="color: rgb(25, 139, 231);">{{m.utilisateur}}</h3>
        <h3>{{m.contenus}}</h3>
        <p>{{m.date_envoye}}</p>
        {% endfor%}
        
        {% for field in form %}
        {{field}}
        {% endfor%} <br>
        <button type="submit">Envoyer</button>
    </form>

    {% else%}
    <h3>Veuillez vous connecter</h3>
    <a href="login">Login</a>
    <a href="register">Register</a>
    {% endif %}
</body>
</html>