<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion</title>
</head>
<body>
    {% load static %}
    {% if user.is_authenticated %}
    
    <h1>Bienvenue dans votre Discussion</h1>
    <h4>Bonjour , {{user.username}}</h4><br>
    <form action="" method="POST">
        {% csrf_token%}

        <h3>Profil de {{user_profile.username}}</h3>
        <button type="submit">Envoyer un message</button>
    </form>

    {% else%}
    <h3>Veuillez vous connecter</h3>
    <a href="login">Login</a>
    <a href="register">Register</a>
    {% endif %}
</body>
</html>